In [1]:
import pandas as pd
import sqlite3
import matplotlib.pyplot as plt
import numpy as np
%matplotlib inline

In [2]:
def clean_column_headers(dataframe):
    dataframe.columns = dataframe.columns.str.title()
    dataframe.columns = dataframe.columns.str.replace("_", " ")
    return dataframe

In [3]:
# Function for cleaning comma seperated string values of a series into list of strings. Accepts one series.

def clean_comma_series(Series):
    Series = Series.str.replace("_", " ")
    Series = Series.str.title()
    Series = Series.str.split(",")
    return Series

In [4]:
file_path = '/Users/claire/git/flatiron/phase_02/finalproject/DSC-Phase2-Project2/unzippedData/im.db'
conn = sqlite3.connect(file_path)

In [5]:
! ls ../unzippedData

ls: ../unzippedData: No such file or directory

In [6]:
cursor = conn.cursor()

![Image of ERD Diagram IMDB](https://raw.githubusercontent.com/learn-co-curriculum/dsc-phase-2-project-v3/main/movie_data_erd.jpeg)

In [9]:
# Create a dataframe from the master table of our sql database:
# Write the query:
imdb_query = """ 
    SELECT *
    FROM sqlite_master
"""
# Read the contents of the query into a Pandas dataframe:
imdb_df = pd.read_sql(imdb_query, conn)

# From the pandas dataframe, iterate through the column "name" (all our table names)
# Make a list of those table names:
table_list = [name for name in imdb_df['name']]

def table_to_df(my_table, my_conn):
    '''Input is name of database table as a string, output is dataframe'''
    my_query = f"""SELECT * FROM {my_table}"""
    df = pd.read_sql(my_query, my_conn)
    return df

# Make a dataframe where the keys are the names of the tables, 
# and the values are pandas dataframes made from those tables:
dict_tables = {name: pd.DataFrame(data=table_to_df(name,conn)) for name in table_list}

# Make dataframe names, prefixed by "df_" and then the original table name
# Output is 
for i in range(len(table_list)):
    # converts the STRING f"df_{table_list[i]}" to a VARIABLE equal to each df in df_tables
    exec(f"{table_list[i]}_df" + " = dict_tables[table_list[i]]") 
    

# Lez try out one of our brand-new dfs!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
#writers_df.head()

####### We now have these dataframes:
"""
movie_basics_df
directors_df
known_for_df
movie_akas_df
movie_ratings_df
persons_df
principals_df
writers_df
"""

'\nmovie_basics_df\ndirectors_df\nknown_for_df\nmovie_akas_df\nmovie_ratings_df\npersons_df\nprincipals_df\nwriters_df\n'

In [16]:
# Export Pandas dataframes to Tableau:
movie_basics_df.to_csv('/Users/claire/git/flatiron/phase_02/finalproject/DSC-Phase2-Project2/tableau_files/movie_basics.csv')
directors_df.to_csv('/Users/claire/git/flatiron/phase_02/finalproject/DSC-Phase2-Project2/tableau_files/directors.csv')
known_for_df.to_csv('/Users/claire/git/flatiron/phase_02/finalproject/DSC-Phase2-Project2/tableau_files/known_for.csv')
movie_akas_df.to_csv('/Users/claire/git/flatiron/phase_02/finalproject/DSC-Phase2-Project2/tableau_files/movie_akas.csv')
movie_ratings_df.to_csv('/Users/claire/git/flatiron/phase_02/finalproject/DSC-Phase2-Project2/tableau_files/movie_ratings.csv')
persons_df.to_csv('/Users/claire/git/flatiron/phase_02/finalproject/DSC-Phase2-Project2/tableau_files/persons.csv')
principals_df.to_csv('/Users/claire/git/flatiron/phase_02/finalproject/DSC-Phase2-Project2/tableau_files/principles.csv')
writers_df.to_csv('/Users/claire/git/flatiron/phase_02/finalproject/DSC-Phase2-Project2/tableau_files/writers.csv')

In [25]:
directors_df.head()

    movie_id  person_id
0  tt0285252  nm0899854
1  tt0462036  nm1940585
2  tt0835418  nm0151540
3  tt0835418  nm0151540
4  tt0878654  nm0089502