In [1]:
import pandas as pd
import sqlite3

In [2]:
! ls ../unzippedData

bom.movie_gross.csv  rt.movie_info.tsv    tmdb.movies.csv
im.db                rt.reviews.tsv       tn.movie_budgets.csv

In [3]:
MovieBudget = pd.read_csv('../unzippedData/tn.movie_budgets.csv')
MovieBudget

,id,release_date,movie,production_budget,domestic_gross,worldwide_gross
0,1,"Dec 18, 2009",Avatar,"$425,000,000","$760,507,625","$2,776,345,279"
1,2,"May 20, 2011",Pirates of the Caribbean: On Stranger Tides,"$410,600,000","$241,063,875","$1,045,663,875"
2,3,"Jun 7, 2019",Dark Phoenix,"$350,000,000","$42,762,350","$149,762,350"
3,4,"May 1, 2015",Avengers: Age of Ultron,"$330,600,000","$459,005,868","$1,403,013,963"
4,5,"Dec 15, 2017",Star Wars Ep. VIII: The Last Jedi,"$317,000,000","$620,181,382","$1,316,721,747"
...,...,...,...,...,...,...
5777,78,"Dec 31, 2018",Red 11,"$7,000",$0,$0
5778,79,"Apr 2, 1999",Following,"$6,000","$48,482","$240,495"
5779,80,"Jul 13, 2005",Return to the Land of Wonders,"$5,000","$1,338","$1,338"
5780,81,"Sep 29, 2015",A Plague So Pleasant,"$1,400",$0,$0
5781,82,"Aug 5, 2005",My Date With Drew,"$1,100","$181,041","$181,041"

In [4]:
def clean_number_series(Series):
    Series = Series.str.replace(",", "")
    Series = Series.str.replace("$", "")
    Series = Series.astype(int)
    return Series

def clean_column_headers(dataframe):
    dataframe.columns = dataframe.columns.str.title()
    dataframe.columns = dataframe.columns.str.replace("_", " ")

In [5]:
clean_column_headers(MovieBudget)
MovieBudget['Worldwide Gross'] = clean_number_series(MovieBudget['Worldwide Gross'])
MovieBudget['Domestic Gross'] = clean_number_series(MovieBudget['Domestic Gross'])
MovieBudget['Production Budget'] = clean_number_series(MovieBudget['Production Budget'])

/var/folders/9n/kzdbb24d6718p004k3bbjtr40000gn/T/ipykernel_82010/508723308.py:3: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  Series = Series.str.replace("$", "")

In [11]:
# Making Profitability Column

MovieBudget['Profitability'] = MovieBudget['Worldwide Gross'] + MovieBudget['Domestic Gross'] - MovieBudget['Production Budget']
MovieBudget['Revenue Budget Ratio'] = (MovieBudget['Worldwide Gross'] + MovieBudget['Domestic Gross']) / MovieBudget['Production Budget']

MovieBudget.head()

,Id,Release Date,Movie,Production Budget,Domestic Gross,Worldwide Gross,Profitability,Revenue Budget Ratio
0,1,"Dec 18, 2009",Avatar,425000000,760507625,2776345279,3111852904,8.322007
1,2,"May 20, 2011",Pirates of the Caribbean: On Stranger Tides,410600000,241063875,1045663875,876127750,3.133774
2,3,"Jun 7, 2019",Dark Phoenix,350000000,42762350,149762350,-157475300,0.550071
3,4,"May 1, 2015",Avengers: Age of Ultron,330600000,459005868,1403013963,1531419831,5.632244
4,5,"Dec 15, 2017",Star Wars Ep. VIII: The Last Jedi,317000000,620181382,1316721747,1619903129,6.110105

In [40]:
MovieBudgetFiltered = MovieBudget[(MovieBudget['Production Budget'] < 40000000) & (MovieBudget['Production Budget'] > 0)]
MovieBudgetFiltered.sort_values('Revenue Budget Ratio', ascending=False, inplace=True)
MovieBudgetFiltered.reset_index(drop=True, inplace=True)
MovieBudgetFiltered[:50]
MovieBudgetFiltered['Release Date'] = MovieBudgetFiltered['Release Date'].str[-4:].astype(int)
MovieBudgetFiltered= MovieBudgetFiltered[(MovieBudgetFiltered['Release Date']>2005)].reset_index(drop=True)
MovieBudgetFiltered[:50]

/var/folders/9n/kzdbb24d6718p004k3bbjtr40000gn/T/ipykernel_82010/3106175832.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  MovieBudgetFiltered.sort_values('Revenue Budget Ratio', ascending=False, inplace=True)
/var/folders/9n/kzdbb24d6718p004k3bbjtr40000gn/T/ipykernel_82010/3106175832.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  MovieBudgetFiltered['Release Date'] = MovieBudgetFiltered['Release Date'].str[-4:].astype(int)

,Id,Release Date,Movie,Production Budget,Domestic Gross,Worldwide Gross,Profitability,Revenue Budget Ratio
0,93,2009,Paranormal Activity,450000,107918810,194183034,301651844,671.337431
1,80,2015,The Gallows,100000,22764410,41656474,64320884,644.208840
2,57,2007,Once,150000,9445857,23323631,32619488,218.463253
3,81,2006,Facing the Giants,100000,10178331,10243159,20321490,204.214900
4,12,2012,The Devil Inside,1000000,53262945,101759490,154022435,155.022435
5,29,2008,Fireproof,500000,33456317,33473297,66429614,133.859228
6,90,2014,GodÃ¢Â€Â™s Not Dead,1150000,60755732,63777092,123382824,108.289412
7,63,2011,Insidious,1500000,54009150,99870886,152380036,102.586691
8,14,2015,Unfriended,1000000,32789645,64364198,96153843,97.153843
9,60,2009,Home,500000,15433,44793168,44308601,89.617202
10,65,2010,Paranormal Activity 2,3000000,84752907,177512032,259264939,87.421646
11,49,2017,Get Out,5000000,176040665,255367951,426408616,86.281723
12,50,2017,Split,5000000,138141585,278964806,412106391,83.421278
13,16,2006,An Inconvenient Truth,1000000,24146161,53365925,76512086,77.512086
14,51,2011,Paranormal Activity 3,5000000,104028807,207039844,306068651,62.213730
15,64,2016,Moonlight,1500000,27854931,65245512,91600443,62.066962
16,15,2010,The Last Exorcism,1800000,41034350,70165900,109400250,61.777917
17,18,2012,Chernobyl Diaries,1000000,18119640,42411721,59531361,60.531361
18,86,2007,Juno,7000000,143495265,231450102,367945367,53.563624
19,84,2014,Annabelle,6500000,84273813,256862920,334636733,52.482574
20,67,2013,The Purge,3000000,64473115,91266581,152739696,51.913232
21,53,2013,Insidious Chapter 2,5000000,83586447,161921515,240507962,49.101592
22,66,2015,War Room,3000000,67790117,73975239,138765356,47.255119
23,99,2007,Das Leben der Anderen,2000000,11284657,81197047,90481704,46.240852
24,18,2012,Les Intouchables,10800000,13182281,484873045,487255326,46.116234
25,17,2013,You're Next,1000000,18494006,26887177,44381183,45.381183
26,69,2012,Sinister,3000000,48086903,87727807,132814710,45.271570
27,86,2017,A Ghost Story,100000,1594798,2769782,4264580,43.645800
28,55,2016,Lights Out,5000000,67268835,148806510,211075345,43.215069
29,36,2018,Halloween,10000000,159342015,254900667,404242682,41.424268
30,88,2012,Magic Mike,7000000,113721571,170549753,277271324,40.610189
31,12,2013,A Haunted House,2500000,40041683,59922558,97464241,39.985696
32,59,2011,Jodaeiye Nader az Simin,800000,7098492,24426169,30724661,39.405826
33,59,2012,Paranormal Activity 4,5000000,53900335,142817992,191718327,39.343665
34,73,2012,Your Sister's Sister,120000,1597486,3090593,4568079,39.067325
35,91,2018,Truth or Dare,3500000,41411015,95127344,133038359,39.010960
36,97,2010,The KingÃ¢Â€Â™s Speech,15000000,138797449,430821168,554618617,37.974574
37,74,2008,Slumdog Millionaire,14000000,141330703,384530440,511861143,37.561510
38,38,2013,Fruitvale Station,900000,16098998,17549645,32748643,37.387381
39,58,2017,Happy Death Day,5000000,55683845,125010260,175694105,36.138821
40,54,2016,10 Cloverfield Lane,5000000,72082999,108286422,175369421,36.073884
41,43,2014,The Fault in Our Stars,12000000,124872350,307166834,420039184,36.003265
42,87,2011,Courageous,2000000,34522221,35185884,67708105,34.854053
43,46,2010,Black Swan,13000000,106954678,331266710,425221388,33.709338
44,69,2008,High School Musical 3: Senior Year,11000000,90559416,274392880,353952296,33.177481
45,56,2015,The Visit,5000000,65206105,98677816,158883921,32.776784
46,56,2016,Dangal,9500000,12391761,294654618,297546379,32.320671
47,72,2017,Sleight,250000,3930990,3934450,7615440,31.461760
48,60,2014,Ouija,5000000,50856010,103300632,149156642,30.831328
49,66,2018,A Quiet Place,17000000,188024361,334522294,505546655,30.738039

In [ ]:
# join this table with directors, genre and actors